# ESP32-S3 专属配置
CONFIG_IDF_TARGET="esp32s3"

# PSRAM 启用
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4096

# 栈大小（PSRAM 充足，可用较大栈）
CONFIG_ESP_MAIN_TASK_STACK_SIZE=32768
