# ESP32-S3 配置
CONFIG_IDF_TARGET="esp32s3"

# PSRAM 启用
CONFIG_SPIRAM=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4096

# MQTT
CONFIG_MQTT_TRANSPORT_SSL=n

# 日志级别
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# 栈大小
CONFIG_ESP_MAIN_TASK_STACK_SIZE=32768
